/* Font Global */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  margin: 0;
  background: linear-gradient(to bottom, #1a1a1a, #ff6600);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container Umum (Login & Signup) */
.signup-container,
.login-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
  text-align: center;
}

/* Header */
h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

h2 .orange {
  color: #ff6600;
}

/* Label */
label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}

.checkbox label {
  display: inline;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Options (Forgot Password / Remember Me / Links) */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 10px 0;
}

.options a {
  color: #007bff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

/* Button */
.btn-signup,
.btn-login {
  width: 100%;
  padding: 12px;
  background: #ff6600;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 9999px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-signup:hover,
.btn-login:hover {
  background: #e65c00;
}

/* Text di bawah button */
.login-text,
.signup-text {
  font-size: 13px;
  margin-top: 15px;
}

.login-text a:hover,
.signup-text a:hover {
  text-decoration: underline;
  color: black;
}

/* Message */
#message {
  margin-top: 10px;
  font-size: 14px;
}

.success {
  color: green;
}

.error {
  color: red;
  margin-bottom: 12px;
}

/* Header / Navbar */
header {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a.logout {
  color: red;
}
