* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f7f7f7;
  color: #333;
}

header {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 35px;
  height: 35px;
}
header h2 {
  color: #ff6600;
  font-weight: 900;
  letter-spacing: 1px;
}
nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
nav a:hover {
  color: #ff6600;
}
nav a.active {
  color: #ff6600;
}
button {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.1s;
}
button:hover {
  background-color: #e65c00;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  max-width: 1300px;
  margin: 40px auto 80px;
  padding: 0 20px;
}

.card {
  background-color: #ff7b00;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-bottom: 4px solid #e55a00;
}

.card-content {
  padding: 18px 20px 25px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  padding-bottom: 5px;
}

.card-content p {
  font-size: 15px;
  margin: 6px 0;
}

