* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background: #fff;
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo, .address-card .name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 35px;
  height: 35px;
}
header h2 {
  color: #ff6600;
  font-weight: 900;
  letter-spacing: 1px;
}
nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
nav a:hover {
  color: #ff6600;
}
nav a.active {
  color: #ff6600;
}
nav button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.1s;
}
nav button:hover {
  background-color: #e65c00;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  margin: 15px auto;
  width: 95%;
  max-width: 1000px;
  max-height: fit-content;
  border-radius: 10px;
  padding: 30px 30px;
  border: 3px dashed #eee;
}

.title-text {
  margin-bottom: 30px; color: #111;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address, .product-list, .order-summary {
  padding: 18px 25px;
}

.address-card .name img {
  width: 18px;
  vertical-align: middle;
}

.address-card p {
  margin: 10px 0;
  font-size: 15px;
  color: #333;
}

.edit-address-btn {
    float: right;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.edit-address-btn:hover {
    text-decoration: underline;
}

.product-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding-bottom: 10px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.product-header span {
  text-align: center;
}

.product-header span:first-child {
  text-align: left;
}

.product-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.product-info img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.product-info h2 {
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin: 0;
}

.product-info p {
  margin: 4px 0 0;
  color: #555;
  font-size: 14px;
}

.price, .subtotal {
  text-align: center;
  font-weight: 600;
  color: #111;
  font-size: 16px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.qty-btn {
  background: #ff6600;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.qty-btn:hover {
  background: #e65a00;
}


.order-summary h3 {
  margin: 0 0 15px;
  color: #111;
}

.order-summary p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 15px;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.order-summary .total {
  font-weight: bold;
  font-size: 18px;
  color: #111;
}

.order-summary .total span:last-child {
  color: #ff6600;
}

.send-btn {
  width: 100%;
  background: #ff6600;
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 24px;
}

.send-btn:hover {
  background: #e65a00;
}