* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background: white;
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 35px;
  height: 35px;
}
header h2 {
  color: #ff6600;
  font-weight: 900;
  letter-spacing: 1px;
}
nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
nav a:hover {
  color: #ff6600;
}
.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 30px;
  object-fit: cover;
  border: 3px solid #ff6600;
}
main {
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 600px;
  height: fit-content;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
label {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #aaa;
}
textarea {
  min-height: fit-content;
  height: 70px;
}
button {
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: 0.1s;
}
.profile-actions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 25px;
}
.profile-actions button {
  flex: 1;
  padding: 12px 0;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
.edit {
  background-color: #ff6600;
  color: white;
}
.edit:hover {
  background-color: #e65c00;
}
.delete-account {
  background-color: #d80000;
  color: white;
}
.delete-account:hover {
  background-color: #b30000;
}
.logout button {
  background-color: #ff6600;
  color: white;
}
.logout button:hover, .edit:hover {
  background-color: #e65c00;
}
.delete-btn, .add-btn {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  color: #000;
}
.delete-btn {
  border: 1px solid #ccc;
  color: red;
  margin-top: 10px;
}
.photo-actions {
  margin-top: 24px;
}
.photo-actions button:hover {
  border: 1px solid #ccc;
  background-color: #eeeded;
}